body {
    text-align: center;
    background-color: #011F3F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#startBtn {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #fef2bf;
    cursor: pointer;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.btn {
    width: 40vw;
    height: 40vw;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}


.pressed {
    box-shadow: 0 0 20px white;
    opacity: 0.5;
}

.game-over {
    background-color: red;
}
